@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(90deg, #f57b77, #a73632);
    text-align: center;
}

main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #64201e93;
    width: 600px;
    padding: 15px;
    margin: auto;
}

img{
    border-radius: 10px;
}

h1{
    color: #5C0400;
    text-shadow: 1px 1px 2px #31030094;
}

ul{
    color: #0c7c33;
    text-align: left;
}

